<header>
  <!-- Fixed navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light py-2 border-top border-warning border-5">
    <div class="container">
        <a href="#" class="navbar-brand">
            <img src="./assets/img/swedbank-logo.svg" height="28" alt="Swedbank">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active" style="color: #512b2b">Home</a>
                <a href="#" class="nav-item nav-link" style="color: #512b2b">Everyday Banking</a>
                <a href="#" class="nav-item nav-link" style="color: #512b2b">Cards</a>
                <a href="#" class="nav-item nav-link" style="color: #512b2b">Loan Leasing</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link" style="color: #512b2b">Login</a>
            </div>
        </div>
    </div>
</nav>
</header>
