<footer class="footer fixed-bottom bg-dark p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span class="text-white">Place sticky footer content here.</span>
      </div>
      <div class="col-md-3">
        <span class="text-white">Place sticky footer content here.</span>
      </div>
      <div class="col-md-3">
        <span class="text-white">Place sticky footer content here.</span>
      </div>
      <div class="col-md-3">
        <span class="text-white">Place sticky footer content here.</span>
      </div>
    </div>
  </div>
</footer>